<%-include('boilerplate.ejs')%>
<body class="body-5">
    <%-include('partials/header.ejs')%>
    <h2 style="color:rgb(14, 230, 230);margin-left: 37%;"><%=right%></h2>
    <div>
        <form action="/edit" method="post" style ="margin-top: 10rem;margin-right: 30rem;">
          <div class="formcontainer" style="height:20rem ;margin-top:5rem">
          <div class="container" style="width:25rem">
            <input type="password" placeholder="Enter your  password" name="pass" required>
          </div>
          <button type="submit">Submit</button>
        </form>
    </div>

    <div class="box1">
        <h2>Created By : VIVEK NEGI</h2>
        <h2>Authentication protocol project :)</h2>
      </div>
</body>
</html>