<%-include('boilerplate.ejs') %> 

<body class="body-1">
    <%-include('partials/header.ejs')%>

        <h2 style="color:olive;margin-left: 43%;"><%=update%></h2>
        <h2 class="cardbody-1" style="height:40rem">
            <strong>Welcome   <%=user.name%></strong>
        </h2>


</body>


</html>